* {margin: 0; padding: 0;}

body {
  background: #2ecc71;
  background: -webkit-linear-gradient(#4caf50, #2e7d32); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4caf50, #2e7d32); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4caf50, #2e7d32); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4caf50, #2e7d32); /* Standard syntax */
  height: 100vh;
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,0.5) inset;
}

.card {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  position: relative;
  /*float: left;*/
  /*margin-right: 10px;*/
  width: 250px;
  height: 350px;
  border-radius: 25px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);

  margin: auto;

  border-radius: 25px;
}

.container {
  padding-top: 20vh;
}

.center-item {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.center-block {
  display: flex;

  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  margin: auto;
}

.card p {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}


div[class*='suit']:before {
  position: absolute;
  font-size: 50px;
  left: 15px;
  top: 10px;
}
 
div[class*='suit']:after {
  
  position: absolute;
  font-size: 50px;
  right: 15px;
  bottom: 10px;
}



/* ------------ CARTES STYLES --------------*/
.suitspin {
  background: #9b59b6;
}

.suitspin:before, .suitspin:after {
  font-family: FontAwesome;
  content: "\f021";
  color: #000;
}

.suitquestion {
  background: #3498db;
}

.suitquestion:before, .suitquestion:after {
  font-family: FontAwesome;
  content: "\f29c";
  color: #000;
}

.suitaction {
  background: #e74c3c;
}

.suitaction:before, .suitaction:after {
  font-family: FontAwesome;
  content: "\f06a";
  color: #000;
}

.suitrole {
  background: #f1c40f;
  color: #000;
}

.suitrole:before, .suitrole:after {
  font-family: FontAwesome;
  content: "\f005";
  color: #000;
}

.suitregle {
  background: #34495e;
  color: #fff;
}

.suitregle:before, .suitregle:after {
  font-family: FontAwesome;
  content: "\f085";
  color: #fff;
}









/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.rotate {
  transform: rotateY(180deg);
    transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.flip-container, .front, .back {
  width: 280px;
  height: 350px;
}

/* flip speed goes here */
.flipper {

}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}