<ion-header>
  <ion-navbar color="transparent">
    <ion-buttons end><button ion-button>{{cards.length}} restante{{cards.length > 1 ? "s": ""}}</button><button ion-button large clear (click)="goToHome()"><ion-icon name="exit" color="secondary"></ion-icon></button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <div class="playable-cards-container" (swipe)="pickACard($event)">
    <ion-buttons *ngIf="noCards" text-center padding>

      <button ion-button icon-only large (click)="restart()">
        <ion-icon name="refresh"></ion-icon><br/>
      </button>
       <h1>On recommence avec le même deck ?</h1>
    </ion-buttons>
    <card *ngFor="let card of cards" [card]="card" [stack]="true"></card>
  </div>
</ion-content>
