page-home {
  color: white;
  ion-content {
    background: url("../assets/images/background_pub.jpg");
    background-size: cover;
    color: white;

    .scroll-content {
      padding: 0 !important;
    }

    .padding {
      height: 15vh;
    }

    h1 {
      color: white;
    }

    h2 {
      color: #E0E0E0;
      font-style: italic;
    }
  }
}
